In [1]:
import pandas as pd

# Read the dataset
input_file = '/content/dataset_level_6 (1).xlsx'  # Replace with your input file name
data = pd.read_excel(input_file)

# Replace 'Tr' and 'N' with 0 in all columns
data.replace({'Tr': 0, 'N': 0}, inplace=True)

# Print the first few rows to check the changes
print("Updated data with 'Tr' and 'N' replaced by 0:")
print(data.head())

# Save the updated DataFrame to a new Excel file
output_file = 'dataset_level_7.xlsx'  # Specify the output file name
data.to_excel(output_file, index=False)

print(f"The updated table has been saved as: {output_file}")

Updated data with 'Tr' and 'N' replaced by 0:
                         Food Name Retinol (µg) Thiamin (mg) Riboflavin (mg)  \
0           Ackee, canned, drained            0         0.03            0.07
1                      Agar, dried            0         0.01            0.22
2  Agar, dried, soaked and drained            0         0.01            0.04
3             Alfalfa sprouts, raw            0         0.04            0.06
4                 Allspice, ground            0         0.10            0.06

  Niacin equivalent (mg) Vitamin B6 (mg) Vitamin B12 (µg) Folate (µg)  \
0                    1.1            0.06              0.0          41
1                      0               0              0.0           0
2                      0               0              0.0           0
3                    1.1            0.03              0.0          36
4                      0               0              0.0           0

  Vitamin C (mg) Vitamin D (µg)  ... Copper (mg) Iodine (µg) Selenium (µg)  \
0             30            0.0  ...        0.27           0             0
1              0            0.0  ...           0           0             0
2              0            0.0  ...           0           0             0
3              2            0.0  ...        0.16           0             0
4              0            0.0  ...        0.55           0             0

  Phosphorus (mg) Chloride (mg) Sodium (mg) Satd FA /100g fd (g)  \
0              47           340         240                    0
1              50             0         110                 0.30
2               8             0          10                    0
3              70             0           6                    0
4             110             0          77                 2.50

  Mono FA /100g food (g) Poly FA /100g food (g) Free sugars (g)
0                      0                      0             0.8
1                   0.10                   0.40             0.0
2                      0                      0             0.0
3                      0                      0             0.3
4                   0.70                   2.40             0.0

[5 rows x 32 columns]
The updated table has been saved as: dataset_level_7.xlsx